body,
html {
  padding: 0;
}

#header {
  display: flex;
  margin-bottom: 4%;
}
#header h1 {
  flex-grow: 1; /* Để h1 chiếm không gian còn lại */
  text-align: center;
}
#table {
  padding-top: 10px;
  width: 82%;
  margin: 6% auto auto auto; /*căn giữa bảng*/
  border-collapse: collapse;
}
#table thead {
  background-color: #cb3232;
}
#table th,
td {
  height: 35px;
  border: 2px solid black;
  text-align: center;
}

#s1 {
  padding: 2% 3%;
}
#table_body tr:nth-child(odd) {
  background-color: white;
}

#table_body tr:nth-child(even) {
  background-color: rgb(230, 228, 228);
}
/*---CSS CỦA MODAL*/
#modal table {
  border-collapse: collapse;
}
#modal thead {
  background-color: #cb3232;
  border: 2px solid black;
}

#modal tbody {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

#modal.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Luôn nằm trên cùng */
  justify-content: center;
  align-items: center;
  width: 100vw; /* Chiếm hết chiều rộng màn hình */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.692); /* Màu xám đen trong suốt */
}

#modal.overlay.open {
  display: flex;
}
.modal-container {
  background-color: white;
  padding: 25px;
  border-radius: 3px;
  width: 70%; /* Độ rộng của bảng chi tiết */
  max-width: 800px; /* Không cho rộng quá trên màn hình lớn */
  position: relative;
  height: 40vh; /* Tối đa 80% chiều cao màn hình */
  display: flex;
  flex-direction: column;
}
#modal_content {
  overflow-y: auto; /* Cho phép cuộn dọc */
  flex: 1; /* Để phần này chiếm hết diện tích còn lại */
}
.modal-container table {
  width: 100%;
  margin-top: 15px;
}

/* Định dạng header của modal (Tiêu đề và nút X) */
#modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative; /* Làm gốc để định vị nút X */
}

#modal_header h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

/* Nút đóng (X) */
.close_button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  color: #333;
  text-decoration: none;
}

.close_button:hover {
  color: #cb3232;
}
