body,
html {
  padding: 0;
  margin: 0;
}

#s1 {
  min-height: 100vh;
  padding: 1% 0% 5% 3%;
  display: flex;
  gap: 20px;
  flex-direction: column; /* Xếp các phần tử con theo chiều dọc (trên-dưới) */
}
h1 {
  text-align: center;
  margin-top: 5px;
}
#frame2 {
  overflow-y: auto;
  width: 85%;
  margin: auto;
  height: auto;
}
#frame_filter {
  display: flex;
  flex-direction: row; /* Đảm bảo tháng và năm nằm ngang hàng */
  gap: 40px;
  font-size: 25px;
  align-items: flex-end;
}
.filter-group {
  display: flex;
  flex-direction: column; /* Xếp label trên, select dưới */
  text-align: center;
  font-size: 20px;
}

select {
  height: 35px;
  width: 200px;
  border: 1.5px solid black;
  color: black;
  cursor: pointer;
}

#confirm {
  height: 50px;
  width: 130px;
  cursor: pointer;
  background-color: rgb(45, 144, 244);
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 640px;
}
#confirm:hover {
  background-color: rgb(72, 164, 255);
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.555);
}
#chart {
  flex: 2; /* Chiếm 2 phần diện tích (bên trái) */
  max-width: 58%; /* Không cho biểu đồ quá to lấn át chữ */
  height: 500px; /* Chiều cao vừa vặn để nhìn */
}
#summary {
  padding-bottom: 200px;
  flex: 1; /* Chiếm 1 phần diện tích (bên phải) */
  font-size: 25px; /* Cho chữ to rõ ràng */
}

#frame1 {
  display: flex;
  flex-direction: row; /* Đảm bảo nằm ngang hàng */
  height: auto;
  height: 40vh;
  width: 80%;
  gap: 88px;
  margin: auto;
  padding: 0;
  justify-content: space-between; /* Căn giữa các item theo chiều ngang */
  align-items: center;
}

#table {
  margin: 30px auto 0 auto;
  width: 100%;
  border-collapse: collapse;
}
#table thead {
  background-color: #cb3232;
}
#table th,
td {
  height: 30px;
  border: 2px solid black;
  text-align: center;
  width: 50px;
}
#table td:first-child,
#table th:first-child {
  width: 10px;
}
