body,
html {
  padding: 0;
  margin: 0;
}

#s1 {
  height: auto;
  padding: 0px 3%;
  display: flex;
  gap: 20px;
  flex-direction: column; /* Xếp các phần tử con theo chiều dọc (trên-dưới) */
}
h1 {
  text-align: center;
}
#frame2 {
  overflow-y: auto;
  width: 85%;
  margin: auto;
}
#frame_filter {
  display: flex;
  gap: 40px;
  font-size: 25px;
  align-items: flex-end;
}
.filter-group {
  display: flex;
  flex-direction: column; /* Xếp label trên, select dưới */
  text-align: center;
  font-size: 20px;
}

select {
  height: 35px;
  width: 200px;
  border: 1.5px solid black;
  color: black;
  cursor: pointer;
}

#confirm {
  height: 50px;
  width: 130px;
  cursor: pointer;
  background-color: rgb(45, 144, 244);
  border: none; /* Bỏ viền mặc định của button cho đẹp */
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 74vh;
}
#confirm button:hover {
  background-color: rgb(72, 164, 255);
  box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.555);
}
#chart {
}
#summary {
}

#frame1 {
  display: flex;
  height: 40vh;
  width: 80%;
  gap: 30px;
  margin: auto;
  justify-content: center; /* Căn giữa các item theo chiều ngang */
  align-items: center;
}

#table {
  margin: 15px auto 0 auto;
  width: 100%;
  border-collapse: collapse;
}
#table thead {
  background-color: #cb3232;
}
#table th,
td {
  height: 30px;
  border: 2px solid black;
  text-align: center;
  width: 50px;
}
#table td:first-child,
#table th:first-child {
  width: 10px;
}
